<p style="color: green"><%= notice %></p>


<p><%= t("headers.description") %></p>
<%= render @coin %>

<div>
  <%= link_to t("coins.links.edit_coin"), edit_coin_path(@coin) %>
  <%= link_to t("coins.links.back_to_coins"), coins_path %>

  <%= button_to t("coins.links.destroy_coin"), @coin, method: :delete %>
</div>
